.App {
  text-align: center;
}

.App > div {
  display: flex;
}

.StarRating > div {
  margin-top: 10px;
  display: inline-flex;
}


.Photos {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
}

.StockPhoto {
  width: 400px;
  height: 500px;
  border: solid 1px black;
  border-radius: 25px;
  padding: 40px;
  margin-left: 10px;
  margin-top: 10px;
}

.StockPhoto img {
  max-width: 350px;
  max-height: 350px;
}

svg {
  cursor: pointer;
}

button {
    background-color: skyblue;
    border: solid 1px white;
    border-radius: 25px;
    padding: 10px;
}